doctype html
html(lang="en")
  head
    title Velocipraptor
    meta(name='robots',    content='noindex')
    meta(name='googlebot', content='noindex')
    script(src="app.js" type="text/javascript")
    link(href="app.css" type="text/css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" rel="stylesheet")
  body(data-user=user)
    #main.app
      | loading...