doctype html
html(lang="en")
  head
    title Velociprator
    meta(name='robots',    content='noindex')
    meta(name='googlebot', content='noindex')
    meta(name='google-signin-client_id', content='551012004675-amj3542237nkdv3pu1c7o8e9p67pe9r8.apps.googleusercontent.com')
    link(href="/assets/app.css" type="text/css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" rel="stylesheet")
    script(src="//apis.google.com/js/platform.js" async defer)
  body
    #main.index
      img(src="/raptor.jpg")
      br
      br
      a(href="/auth/google" class="btn btn-primary btn-xl") Login