.editable-table-cell
  textarea
    width: 100%

.datacenters-table,.ranges-table,.servers-table,.addresses-table
  margin-top: 10px
  thead
    th.actions
      width: 5%
      min-width: 50px

  tbody
    td.table-actions
      font-size: 10px
      text-align: center

      .fa-stack
        cursor: pointer
        &:hover
          .fa-stack-2x
            color: $brand-primary

.datacenters-table
  thead
    th.name,th.location
      width: 20%
    th.id
      width: 5%
      min-width: 30px

.ranges-table
  thead
    th.range
      width: 30%
      min-width: 110px
    th.id
      width: 5%
      min-width: 30px

.servers-table
  thead
    th.id,th.number
      width: 5%
      min-width: 30px
    th.code,th.role
      width: 10%
      min-width: 60px
    th.ip
      width: 15%
      min-width: 90px

.server-table
  margin-top: 10px
  width: 40%
  td
    width: 50%


.addresses-table
  thead 
    th.ip
      width: 10%
      min-width: 90px
    th.formatted
      width: 15%
      min-width: 150px
    th.threads,th.successes,th.success-rate,th.server,th.range
      width: 5%
      min-width: 30px
th.no
  width: 10px
